# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lib/boost_1_74_0.tar.gz
build/
deps/boost/boost_1_74_0/
release/
deps/libwebrtc/build/CMakeFiles/CMakeOutput.log
deps/netstring/build/CMakeFiles/CMakeOutput.log
deps/boost/boost_1_74_0.tar.gz
xcode/
vc2019/
.vscode/settings.json
deps/libwebrtc/build/
deps/netstring/build/
deps/openssl/include/openssl/opensslconf.h
deps/openssl/test/rsa_complex
deps/openssl/test/rsa_complex
.DS_Store
